{% extends "base.html" %}
{% load staticfiles %}

{% block content %} 
  <ul class="list pl0">
    {% for user in user %}
      <li>profile picture: {{ uploaded_profile_picture }}</li>
      <li>{{ user.username }}</li>
      <li>user: {{ user.username }}</li>
      <li>member since: {{ user.date_created }}</li>
      <li>gender pronouns: {{ user.gender_pronous }}</li>
      <li>about: {{ user.about }}</li>
      <li>email: {{ user.email }}</li>
      <li>{{ user.post }}</li>
      <li>{{ user.comment }}</li>
      <li>{{ user.favorites }}</li>
      <li>{{ user.voted }}</li>
      <li>topics: {{ user.topics }}</li>
    {% endfor %}
  </ul>

<p><a href="{% url 'index' %}">Return to home</a></p>
{% endblock %}
