{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<ul>
    <div class="list pl0">
        {% for UserPost in object_list %}
        {% if UserPost %}
        <span>Votes</span>
        <span><a href="{{ UserPost.post_url }}">{{ UserPost.title }}</a></span>
        <span> {{ user.profile_picture }} </span>
        <span> by <a href="{{ UserPost.user }}">{{ UserPost.user }}</a></span>
        {% if UserPost.body %}
        <span><p>{{ UserPost.body|truncatewords:50 }}h</p> </span>

        {% if UserPost.comments %}
        <span class="mb2"><a href='{{ UserPost.get_absolute_url }}'>
        {% endif %}

        {{ num_comments }}j comments</a></span><br>
        {% else %}
        <span class="mb2"><a href ='{{ UserPost.get_absolute_url }}'>Add first comment</a></span><br>
        {% endif %}
        {% endif %}
        {% if UserPost.source_name %}
        <li>({{ UserPost.source_name }})</li>
    </div>
    {% endif %}
    {% endfor %}
    {% block pagination %}
    {% if is_paginated %}
    <div class="mt2 f6 fw6 tracked">
        {% if page_obj.has_previous %}
        <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}
        <span class="page-current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </span>
        {% if page_obj.has_next %}
        <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
        {% endif %}
    </div>
    {% endif %}
    {% endblock %}
</ul>
{% endblock %}