{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<ul>
    <li>Votes</li>
    {% if UserPost %}
        {% for post in posts %}
        <li><a href="{{ userpost.post_url }}">{{ post.title }}</a></li>
        <li> {{ user.profile_picture }} </li>
        <li> by <a href="">{{ post.user }}</a></li>
    {% endif %}
    {% if post.source_name %}
        <li>{{ post.source_name }}</li>
        <li>
            <p>{{ post.body|truncatewords:50 }}</p>
        </li>
        <li>{{ comments.num_comments }} comments</li>
    {% endfor %}
</ul>
{% endblock %}