{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<ul>
    <div class="list pl0">
        <li>Votes</li>
        {% for UserPost in object_list %}
        {% if UserPost %}
        <li><a href="{{ UserPost.post_url }}">{{ UserPost.title }}</a></li>
        <li> {{ user.profile_picture }} </li>
        <li> by <a href="{{ UserPost.user }}">{{ UserPost.user }}</a></li>
        <li><p>{{ UserPost.body|truncatewords:50 }}</p> </li>
        <li class="mb2"><a href='{{ UserPost.get_absolute_url }}'>{{ comments.num_comments }} comments</a></li>
        {% endif %}
        {% if UserPost.source_name %}
        <li>({{ UserPost.source_name }})</li>
    </div>
    {% endif %}
    {% endfor %}
    {% block pagination %}
    {% if is_paginated %}
    <div class="mt2 f6 fw6 tracked">
        {% if page_obj.has_previous %}
        <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}
        <span class="page-current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </span>
        {% if page_obj.has_next %}
        <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
        {% endif %}
    </div>
    {% endif %}
    {% endblock %}
</ul>
{% endblock %}