{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<section class="ph5">
    <span><a href='{{ post.post_url }}'>{{ post.title }}</a></span>
    <span> posted by {{ post.user }}</span> on  <span>{{ post.time_posted }}</span>
    <p>{{ post.body }}</p>
    <h4>Comments</h4>
    <p>{{ post.comments }}</p>


    <form method="POST">
        {% csrf_token %}
        {% for field in form %}
        <div class="{% if field.field.required %}b{% endif%}">{{ field.label_tag }}</div>
        <div>{{ field }}</div>
        {% if field.help_text %}
        <p>{{ field.help_text|safe }}</p>
        {% endif %}
        </div>
        {% endfor %}
        
    <button class="f6 link dim ba bw2 ph3 pv2 mb2 dib b--pink pink f6 fw6 tracked" type="submit"> <a class="f6 link pink f6 fw6 tracked" href="{% url 'new_comment' post.slug %}">Post Comment</a></button>
    </form>

    {% if request.user.is_authenticated %}
    <form action="{% url 'post_vote' slug=post.slug %}" method="POST">
        {% csrf_token %}
        <span>
            <button class="f6 link dim ba bw2 ph3 pv2 mb2 dib b--pink pink f6 fw6 tracked" type="submit">
                {% if post in request.user.vote_post.all %}
                Unlike
                {% else %}
                Like
                {% endif %}
            </button>
        </span>
    </form>
    <div class="f6 fw6 tracked">
        Total likes: {{ user.voted_set.count }} 
        {% comment %} {{ vote.vote.count|pluralize: "like, likes" }} {% endcomment %}

    {% if request.user.is_authenticated %}
        {% if request.user == post.user %}
        <button><a class="f6 link dim ba bw2 ph3 pv2 mb2 dib b--pink pink f6 fw6 tracked" href="{% url 'remove_post' post.slug %}" type="submit">Delete Post</a></button>
        {% endif %}
    {% endif %}

    </div>
    {% endif %}
</section>
{% endblock %}
